.visibility-filters {
  display: flex;
  justify-content: start;
  .visibility-filters__item {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 20px;
    &.visibility-filters__item--active {
      border-bottom: 1px solid salmon;
      color: salmon;
    }
    &:hover {
      border-bottom: 1px solid salmon;
      color: salmon;
    }
  }
}