.add-todo {
  display: flex;
  align-items: center;
  .add-todo__field {
    height: 32px;
    width: 250px;
  }
  .add-todo__button {
    margin-left: 10px;
    cursor: pointer;
    // height: 30px;
    background: #ededed;
  }
}